# Project exclude paths
/SpringDome1/target/
/SpringDome2/target/
/SpringDome4/target/
/SpringDome5/target/
/SpringDome6/target/
/SpringDome7/target/
/SpringDome8/target/
/SpringDome9/target/
/SpringDome10/target/
/SpringDome11/target/
/SpringDome12/target/
/SpringDome13/target/
/SpringDome14/target/
/SpringDome15/target/
/SpringDome16/target/
/SpringDome17/target/
/SpringDome18/target/
/SpringDome19/target/
/SpringDome20/target/
/SpringDome21/target/
/SpringDome22/target/
/SpringDome23/target/
/SpringDome24/target/
/SpringDome25/target/